{% extends 'portfolio/base.html' %}
{% block content %}
    <h1>This is my portfolio</h1>
    {% load static %}
    <a href="{% url 'blog:all_blogs' %}">My blog</a>
    <br>
    <img src="{% static 'portfolio/my_photo.jpg' %}" style="width:450px">
    <div class="container">
    {% for project in projects %}
    <div class="card" style="width: 18rem;">
        <img src="{{ project.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          {% if project.url %}
          <a href="{{ project.url }}" class="btn btn-primary">Link</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}