{% extends 'portfolio/base.html' %}
{% block content %}
{% for blog in blogs %}
<div class="container" style="padding-top: 40px">
<article class="blog-post">
    <h2 class="blog-post-title mb-1">
        <a href="{% url 'blog:detail' blog.id %}" class="link-dark">
            {{ blog.title }}
        </a>
    </h2>
    <p class="blog-post-meta">
        {{ blog.date|date:'l j F y' }}
    </p>
    <a href="{% url 'blog:detail' blog.id %}" style="text-decoration: none; color: black">
    <p>
    {{ blog.description|striptags|truncatechars:350  }}
    </p>
</a>
    <hr>
</article>
</div>
{% endfor %}
{% endblock %}
